h1 {
    font-size: 200px;
    font-weight:bold;
    color:black;
}
p {
    color:black;
}
body {
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
#homeh1 {
    height:250px;
}