h1 {
    font-size: 200px;
    font-weight:bold;
    color:black;
}
p {
    color:black;
}
body {
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('Images/abstract-bg.jpg');
    
}
#homeh1 {
    height: 250px;
    padding-bottom: 50px;
}

#logoimg {
    height: 200px;
    width: 250px;
}

#alert {
    color: red;
}