
p {
    color:black;
}
body {
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('Images/abstract-bg.jpg');
    
}
#homeh1 {
    height: 250px;
    font-weight: bold;
    color: black;
    padding-bottom:100px;
}
#alert {
    color:red;
}
#logo {
    height:200px;
    width:250px;
}