
@{
    ViewData["Title"] = "About the Project";
}
<div id="homeh1" class="text-center">
    <h1 class="display-4">About the project</h1>
</div>
<div id="content">
    <p>This system is created for hospital professionals and administrators to maintain hospital 
        data such as Patient Information and Staff Information</p>
</div>
