@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">
<div id="homeh1" class="text-center">
    <h1 class="display-4">Welcome to the Hospital Management System</h1>
</div>
<p>You need to login as authorized admin to access staff management</p>
<br>
<p>You need to login as authorized admin/doctor to access patients management</p>
