@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">
<div class="text-center">
    <img id="logoimg" src="~/css/logo.jpg">
    <h1 id="homeh1" class="display-4">Welcome to BeWell Hospital Management System</h1>
    <p id="alert">You need to login as authorized user to access staffs and patients management</p>

</div>

