@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">
<div class="text-center">
    <img src="~/css/Images/logo.jpg" id="logo" >
    <h1 id="homeh1" class="display-4">Welcome to BeWell Hospital Management System</h1>
</div>
<p id="alert">You need to login as authorized admin to access staff and patients management</p>
